# Python
__pycache__/
*.pyc
.venv/
venv/
dist/
*.egg-info/

# Data
/data/

# Config
config/secrets.yaml

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Misc
*.tmp
*.swp

# Universal
.idea/
*.bak
*.old
*.orig
*.swo
*.swn
*.lock
*.backup
